BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: true
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: true
IncludeBlocks: Preserve